body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

p {
  font-weight: 300;
  font-size: 18px;
}

span {
  color: #1f2937;
}

.input {
  width: 28%;
  text-align: center;
  border: 2px solid #1f2937;
  border-radius: 7px;
  outline: none;
  font-size: 80px;
  padding: 5px 0;
  padding-left: 15px;
  background: #098f66;
  color: #f0f0f0;
  box-shadow: 3px 3px 6px #1f2937;
  text-shadow: 1px 1px 3px#1f2937;
}

.container {
  height: 100vh;
  background: #b3b3b3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wraper {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 7px solid #f0f0f0;
  border-radius: 20px;
  box-shadow: 8px 13px 15px #1f2937;
}

.sec-one-unit-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.section-one,
.section-two {
  padding: 50px 0;
  margin: 0;
}

.section-one {
  background: #098f66;
  border-radius: 11px 11px 0 0;
}

.section-two {
  background: #1f2937;
  border-radius: 0 0 11px 11px;
}

.units {
  color: #098f66;
}

.unit-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 73px;
  background-color: #1f2937;
  color: #f0f0f0;
  border: none;
  border-radius: 7px;
  letter-spacing: 1px;
}

.unit-btn:hover {
  background-color: rgba(31, 41, 55, 0.7);
  cursor: pointer;
  transition: 0.1s;
}
